.navbar-nav {
    display: flex;
  list-style: none;
  padding: 0;
  margin-left: auto;
  
  }

  .navbar {
  display: flex;
  background-color: black;
  padding: 0 0.8rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26)
  }
  .navbar-brand {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    margin: auto 0;
  }